<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
      android:versionCode="1"
      android:versionName="0.01" package="mobi.omegacentauri.TinyLaunch"
      >

    <!--   			  android:configChanges="keyboard|keyboardHidden|orientation" -->

	<uses-sdk android:minSdkVersion="3"/>

    <application android:label="@string/app_name">
 		<activity android:name=".Options" android:label="Options" />
        <activity android:name="mobi.omegacentauri.TinyLaunch.Apps"
      			  android:configChanges="keyboard|keyboardHidden|orientation"
                  android:launchMode="singleTask"
                  android:theme="@android:style/Theme.NoTitleBar"
                  android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.HOME" />
                <category android:name="android.intent.category.DEFAULT" />
                </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>
</manifest>