<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
      android:versionCode="7"
      android:versionName="0.07" package="mobi.omegacentauri.TinyLaunch"
      >

    <!--   			  android:configChanges="keyboard|keyboardHidden|orientation" -->

	<uses-sdk android:minSdkVersion="3" android:targetSdkVersion="18"/>

          <supports-screens android:resizeable="true"
                  android:smallScreens="true"
                  android:normalScreens="true"
                  android:largeScreens="true"
                  android:xlargeScreens="true"
                  android:anyDensity="true"/>
        
  <application android:label="TinyLaunch">
        
 		<activity android:name=".Options" android:label="Options" />
        <activity android:name="mobi.omegacentauri.TinyLaunch.Apps"
      			  android:configChanges="keyboard|keyboardHidden|orientation"
                  android:launchMode="singleTask"
                  android:theme="@android:style/Theme.NoTitleBar"
                  android:label="TinyLaunch">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.HOME" />
                <category android:name="android.intent.category.DEFAULT" />
                </intent-filter>
    <!--                          <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" /> 
            </intent-filter>  -->
        </activity>
                <receiver android:name="DirtinessReceiver">
        <intent-filter>
        <action android:name="android.intent.action.PACKAGE_INSTALL"/>
        <action android:name="android.intent.action.PACKAGE_ADDED"/>
        <action android:name="android.intent.action.PACKAGE_REMOVED"/>
        <data android:scheme="package"/>
        </intent-filter> 
        </receiver> 
        
    </application>
</manifest>